@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #44e9a2;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.pageBody {
  width: 100%;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2.46rem;
}

.hero,
html {
  height: 100%;
}

h1::selection {
  background: #44e9a2;
}

span::selection {
  background: #44e9a2;
}

div::selection {
  background: #44e9a2;
}

img::selection {
  background: #44e9a2;
}

a::selection {
  background: #44e9a2;
}

li::selection {
  background: #44e9a2;
}

.hello {
  height: 50px;
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
